.settings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.date-container {
  align-items: center;
}
ion-text {
  font-size: 12px;
}
.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
