ion-label {
  margin-top: 5px;
  margin-bottom: 15px;
}
ion-list-header {
  padding: 0;
}
ion-button {
  margin-top: 10px;
}
ion-select {
  text-transform: capitalize;
}
.requiredError {
  color: red !important;
}
.input-label {
  color: #a9a9a9;
}
